.icone__topo{
    width:auto;
    height:auto;
}

.header{
    padding: 2rem 2rem;
    /* margin-right: 10%; calc();*/
    background: #F7F7F7;
    border-bottom: 1px solid #000000;
}

.nav--color{
    background: #F7F7F7;
}

.nav-item{
    margin-left: 1.5rem;
}

.nav--color{
    font-family: 'Open-sans', sans-serif;
    font-weight:700;
}

/* .header__group--botao{
    
} */

.header__button--criar{
    background-color: transparent;
    border: none;    
    color: #EA1D2C;
    font-size: 16px;
    font-weight: 500;
    margin-right: 2rem;
}

.header__button--entrar{
    background: #EA1D2C;
    border:none;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    padding: 0.7rem 2rem;
}

.header__button--entrar:hover{
    background: #C2121F;
}

.linha {
    background-color: #F7F7F7;
    border: 1px solid #F7F7F7;
}

.voucher{
    display: flex;
    background-color: #FFFFFF;
    border: none;
    border-radius: 5px;
    justify-content: space-between;
    height: 8.5rem;
    position: fixed;
    right: 3rem;
    top: 7rem;
    width: 21.5rem;
    box-shadow: 2px 2px 8px #A6A6A6;
    z-index: 9;
}

.voucher__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.voucher__container--texto{
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
    text-align: left;
}

.voucher__container--texto p{
    margin-bottom: 0px;
    padding-right: 2rem;
}

.voucher__container--texto p:nth-child(1) {
    color: #3E3E3E;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-bottom: 4px;
}

.voucher__container--texto p:nth-child(2){
    color: #717171;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1rem;
    padding-bottom: 13px;

}

.voucher__container--texto button{
    background-color: transparent;
    border: none;
    color: #EA1D2C;
    font-size: 0.875rem;
    font-weight: 700;
    text-align: left;
}

.voucher__container > button{
    display: flex;
    align-self: flex-start;
    border:none;
    background-color: transparent;
    color:#EA1D2C;
    font-weight: 500;
    font-size: 1.2rem;
}