<nav class="container-fluid">
  <div class="row nav__bg">
    <div class="d-sm-none d-md-block col-md-2">
      <img src="../../../../assets/img/logo.png" alt="">
    </div>
    <div class="d-sm-none d-md-block col-md-2">
      <div class="d-flex align-items-center">
        <div class="nav__div--img">
          <img class="nav__img--restaurant" src="../../../../assets/img/restaurant.png" alt="">
        </div>
        <div>
          <p class="">Restaurante</p>
        </div>
      </div>

    </div>
  </div>
</nav>
