.nav__bg{
  background-color: #F7F7F7;
}

.nav__div--img{
  background-color: #EA1D2C;
  border: none;
  border-radius: 100%;
  height: 2rem;
  width: 2rem;
}

.nav__img--restaurant{
  height: 1.75rem;
  width: 2.25rem;
}
