.card__section--maior{
    background: linear-gradient(#F7F7F7 50%, #FFFFFF 50%);
}

.restaurante{
    background: #EA1D2C;
    margin-right: 0.75rem;
}

.mercado {
    background: #B6D048;
    margin-left: 0.75rem;
}

.card {
    border: none;
    border-radius: 20px;
    width: 35%;
    height: auto;
}

.card__titulo{
    color: #FFFFFF;
    font-family: 'Open-sans', sans-serif;
    font-size: 2.25rem;
    font-weight: 700;
    padding-top: 1rem;
    margin-bottom: 0;
}

.card__img{
    width: auto;
    height: auto;
}

.card__opcoes{
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.card__opcoes--texto{
    border-radius: 12px;
    color: #FFFFFF;
    font-family: 'Open-sans', sans-serif;
    font-weight: 700;
    padding: 0.2rem 0 0.4rem 0;
    text-align: center;
    width: 146px;
}

.restaurante__texto--bg{
    background: #CC1825;
}

.mercado__texto--bg{
    background: #9EB53E;
}

.icone{
    position: relative;
    top: 6px;
}

/* Responsivo */
@media screen and (max-width:1140px){
    .card__img{
        width: 75%;
        height: 75%;
    }
}

@media screen and (max-width: 920px){
    .card__opcoes {
        display: flex;
        flex-direction: column;
    }   
    .card {
        text-align: center;
    }
}

@media screen and (max-width: 720px){
    .card__titulo{
        font-size: 1.6rem;
        margin-bottom: 1rem;
    }

    .card__img{
        margin-top: 1rem;
    }
}

@media screen and (max-width: 540px){
    .card__titulo{
        font-size: 1.0rem;
    }
}